
local.properties
signing.properties
AuroraStore-master-*.zip

/gradle/wrapper/gradle-*-bin.zip

.DS_Store
.gradle
.idea

*.class
*.dex
*.iml
*.log

/bin
/build
/gen
/proguard
/captures
/app/build
/app/debug

/app/alpha
/app/beta
/app/canary
/app/nightly
/app/release
